* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main div.container.red {
    background-color: red;
    width: 100%;
    height: 100vh;
}

main div.container.green {
    background-color: green;
    width: 100%;
    height: 100vh;
}

main div.container.yellow {
    background-color: yellow;
    width: 100%;
    height: 100vh;
}

main div .img {
    width: 600px;
    height: 500px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main div .img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main .container .img .img-text {
    text-align: center;
    text-transform: uppercase;
    color: yellow;
    font-size: 50px;
}

main .container.yellow .img .img-text {
    text-align: center;
    text-transform: uppercase;
    color: green;
    font-size: 50px;
}